#header h1 {
  background-color: orange;
  text-align: center;  
  font-size: 4em;
  font-family: Trade GothicBold;
  
}

img {
  width: 80%;
}

td {
  font-size: 2.4em;
   font-family:'Arial';
}

.tab-pane > img{
  margin-bottom: 180px;
}

  table img {
  margin: 10px;
  
  
}
 table heading {
   font-size: 3em;
   
}

{
  
  
  
}
 
